n8n/workflows/Clasificación automática de incidencias.json
{
  "name": "Clasificación automática de incidencias",
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"problema\": \"{{$json.textPlain.replace(/\\r?\\n|\\r/g, ' ').trim()}}\",\n  \"tipo\": \"{{$json.subject}}\",\n  \"remitente\": \"{{$json.from}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1152,
        320
      ],
      "id": "0b9f49d3-250e-445f-aed5-d3255447a118",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fromEmail": "pgertela@gmail.com",
        "toEmail": "pgertela@gmail.com",
        "subject": "=Incidencia URGENTE - {{ $('Edit Fields1').item.json.tipo }}",
        "html": "=<p>Se ha recibido una nueva incidencia.</p>\n\n<p>\n  <strong>Tipo:</strong> {{ $json.tipo }} <br>\n  <strong>Problema:</strong> {{ $json.problema }} <br>\n  <strong>Urgencia:</strong> {{ $json.urgencia }} <br>\n  <strong>Técnico asignado:</strong> {{ $json.tecnico }} <br>\n <strong>Usuario: </strong>{{ $json.remitente }}\n\n</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -384,
        240
      ],
      "id": "5ee87364-ca98-4b2c-84e6-3fb1c0d825ad",
      "name": "Send email",
      "webhookId": "05aba7fc-baed-4364-a3b5-4b89b88c0ceb",
      "credentials": {
        "smtp": {
          "id": "jkeH1cOZMFhHvHF8",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -1312,
        320
      ],
      "id": "331ee7e4-14a6-4ef6-adac-d6a4b35ed5f4",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "Kj0b9kkGr7bsgZ8g",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"tipo\": \"{{$json.tipo}}\",\n  \"urgencia\": \"{{$json.urgencia}}\",\n  \"problema\": \"{{$node['Edit Fields'].json.problema}}\",\n  \"tecnico\": \"{{$json.tecnico}}\",\n  \"remitente\": \"{{$node['Edit Fields'].json.remitente}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        320
      ],
      "id": "bd807ba7-bc1d-4f5c-8f93-98217bcd5a50",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0c9db677-47e1-429a-9723-afdd4665c639",
              "leftValue": "={{ $json.urgencia }}",
              "rightValue": "Alta",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -576,
        320
      ],
      "id": "2ad1485f-6137-4dbb-bb47-e93ac144911c",
      "name": "If1"
    },
    {
      "parameters": {
        "fromEmail": " pgertela@gmail.com",
        "toEmail": " pgertela@gmail.com",
        "subject": "=Nueva incidencia - {{ $('Edit Fields1').item.json.tipo }}",
        "html": "=<p>Se ha recibido una nueva incidencia.</p>\n\n<p>\n  <strong>Tipo:</strong> {{ $json.tipo }} <br>\n  <strong>Problema:</strong> {{ $json.problema }} <br>\n  <strong>Urgencia:</strong> {{ $json.urgencia }} <br>\n  <strong>Técnico asignado:</strong> {{ $json.tecnico }} <br>\n <strong>Usuario: </strong>{{ $json.remitente }}\n\n</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -384,
        416
      ],
      "id": "8f501d2b-2f61-4a5b-affc-c9b0fd1e3944",
      "name": "Send email2",
      "webhookId": "631a87c4-95a3-4c2e-a1c4-6e6fbe8167ed",
      "credentials": {
        "smtp": {
          "id": "jkeH1cOZMFhHvHF8",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ia:5000/clasificar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"texto\": \"{{ $json.problema }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -944,
        320
      ],
      "id": "99bffdf2-40e8-45ed-ab23-3984f08a2972",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -592,
        512
      ],
      "id": "2664fb05-24f2-4115-8e71-c1b6248b7058",
      "name": "Insert rows in a table"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "3f0ca62e-75e9-480b-92c8-46b1e5093eeb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55fef6c19e6b68f46994be45d9709321bdedeb1a9071a5d7801e3506d529c984"
  },
  "id": "WKP5DQioUa8V33KF",
  "tags": []
}